/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #0044cc; /* Change to your preferred color */
    color: white;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3.5em;
    margin: 0.2em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #003399;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #002266;
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2.5em;
    color: #0044cc;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
    color: #666;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0044cc;
    color: white;
    font-size: 1.2em;
}

td {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #0044cc;
}

a:hover {
    text-decoration: underline;
}

i.fab.fa-whatsapp {
    color: #25D366;
    margin-right: 0.5rem;
}

footer {
    background-color: #003399; /* Matches the color of the nav bar */
    color: white;
    text-align: center;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 1em;
}
